
<template>
    <div class="card">
        <div class="card-body">
            <div class="float-end mt-n1">
                <!-- <div class="btn-group mb-2 mr-2">
                    <button 
                        type="button"
                        @click="onlyActive ^= true; update()"
                        :class="{ 'btn-light': !onlyActive }"
                        class="btn btn-xs btn-secondary">Actieve Trajecten</button>
                </div> -->

                <div class="btn-group mb-2" v-if="this.xaxis.id == this.$root.ChartSettings.ForEachMonth">
                    <button 
                        type="button" 
                        @click="nmrmonths=-12; update()" 
                        :class="{ 'btn-light': (nmrmonths != -12) }" 
                        class="m-auto btn btn-xs btn-secondary"> < 12</button>
                    <button 
                        type="button" 
                        @click="nmrmonths=-6; update()" 
                        :class="{ 'btn-light': (nmrmonths != -6) }" 
                        class="m-auto btn btn-xs btn-secondary"> 6</button>
                    <div style="width: 1px; background: #ddd;"></div>
                    <button 
                        type="button" 
                        @click="nmrmonths=6; update()" 
                        :class="{ 'btn-light': (nmrmonths != 6) }" 
                        class="m-auto btn btn-xs btn-secondary">6</button>
                    <button 
                        type="button" 
                        @click="nmrmonths=12; update()" 
                        :class="{ 'btn-light': (nmrmonths != 12) }" 
                        class="m-auto btn btn-xs btn-secondary">12 ></button>
                </div>
                <div class="btn-group mb-2 mr-2" v-if="this.xaxis.id == this.$root.ChartSettings.ForEachMonth">
                    <div class="pl-1 m-auto">Maanden</div>
                </div>
                <div class="btn-group mb-2 mr-2">
                    <button 
                        type="button"
                        @click="reset()"
                        class="btn btn-xs btn-danger">Reset</button>
                </div>
            </div>

            <h4 class="header-title mb-3 m-auto" v-html="title"></h4>

            <div dir="ltr">
                <div class="row">
                    <div class="col-12">
                        <apexchart ref="chart" height="400" class="apex-charts" :type="type" :options="chartOptions" :series="series"></apexchart>
                    </div>
                </div>
                <div class="row mt-1">
                    <!-- <div class="col">
                        <multiselect id="yaxis-area"
                            placeholder="Selecteer." 
                            :allow-empty="false"
                            @input="update()" 
                            v-model="yaxis" 
                            :options="yaxisOptions" 
                            label="name" 
                            track-by="name">
                        </multiselect>
                    </div> -->
                    <div class="col">
                        <multiselect 
                            placeholder="Selecteer." 
                            :allow-empty="false"
                            @input="update()" 
                            v-model="xaxis" 
                            :options="xaxisAvail" 
                            label="name" 
                            track-by="name">
                        </multiselect>
                    </div>
                    <div class="col">
                        <multiselect 
                            placeholder="Selecteer." 
                            :allow-empty="false"
                            @input="update()" 
                            v-model="grouping" 
                            :options="groupAvail"
                            label="name"
                            track-by="name">
                        </multiselect>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <multiselect
                            :multiple="true" 
                            placeholder="Selecteer Procedures." 
                            @input="update()" 
                            v-model="selectedProcedures" 
                            :options="allprocedures" 
                            label="name"
                            track-by="name">
                        </multiselect>
                    </div>
                    <div class="col">
                        <multiselect
                            :multiple="true" 
                            placeholder="Selecteer Inkopers." 
                            @input="update()" 
                            v-model="selectedBuyers" 
                            :options="allbuyers" 
                            label="name"
                            track-by="name">
                        </multiselect>
                    </div>
                    <div class="col">
                        <multiselect
                            :multiple="true" 
                            placeholder="Selecteer Fases." 
                            @input="update()" 
                            v-model="selectedPhases" 
                            :options="allphases" 
                            label="name"
                            track-by="name">
                        </multiselect>
                    </div>
                </div>
            </div>
        </div>
   </div>
</template>

<script>
    export default {
        data: function() {
            return {
                type: "area",
                chartOptions: {
                    colors: this.$root.Colors,
                    xaxis: { categories: [], labels: { trim: false } },
                    chart: { events: { 
                        legendClick: null
                    } },
                    legend: { showForSingleSeries: true }
                }, 
                
                nmrmonths: -12, // How many months to display, negative means into the past.

                series: [],

                // All the data, set automatically by calling 'updateChart'
                allbuyers: [],
                allphases: [],
                allprocedures: [],

                allrealphases: [],       // Actual phases as in database.
                allcalculatedphases: [], // Determined through dates.

                // All the selected filters
                selectedBuyers: [],
                selectedProcedures: [],
                selectedPhases: [],
                
                // All options for in the filters
                yaxisOptions: [
                    { name: "Aantal Trajecten", id: this.$root.ChartSettings.ShowCount },
                    //{ name: "Aantal Uren Inzet Inkoper", id: this.$root.ChartSettings.ShowBuyerHours },
                ],
                xaxisOptions: [
                    { name: "Per Maand", id: this.$root.ChartSettings.ForEachMonth },
                    { name: "Per Fase", id: this.$root.ChartSettings.ForEachPhase },
                ],
                groupOptions: [
                    { name: "Voor Elke Procedure", id: this.$root.ChartSettings.PerProcedure },
                    { name: "Voor Elke Inkoper", id: this.$root.ChartSettings.PerBuyer },
                    { name: "Voor Elke Fase", id: this.$root.ChartSettings.PerPhase },
                ],

                // Currently available options
                yaxisAvail: [],
                xaxisAvail: [],
                groupAvail: [],

                // Selected options
                yaxis: { name: "Aantal Trajecten", id: this.$root.ChartSettings.ShowCount },
                xaxis: { name: "Per Maand", id: this.$root.ChartSettings.ForEachMonth },
                grouping: { name: "Voor Elke Procedure", id: this.$root.ChartSettings.PerProcedure },

                onlyActive: true,

                title: 'Procedures per periode',
            }
        },
        created() {
            this.update();
        },
        methods: {
            update() {
                // Set the title of the graph to the selected options.
                this.title = this.yaxis.name + " " + this.xaxis.name + " " + this.grouping.name;

                // Filter out options that don't make sense together, like ForEachPhase PerPhase.
                this.xaxisAvail = this.xaxisOptions;
                this.yaxisAvail = this.yaxisOptions;
                this.groupAvail = this.groupOptions;

                if (this.xaxis.id == this.$root.ChartSettings.ForEachPhase)
                    this.groupAvail = this.groupAvail.filter(item => item.id != this.$root.ChartSettings.PerPhase);

                if (this.grouping.id == this.$root.ChartSettings.PerPhase)
                    this.xaxisAvail = this.xaxisAvail.filter(item => item.id != this.$root.ChartSettings.ForEachPhase);

                // Construct filter query
                let query = '', phases = "", buyers = "", procedures = "";
                this.selectedPhases.forEach(phase => { phases += phase.id + ',' });
                this.selectedBuyers.forEach(buyer => { buyers += buyer.id + ',' });
                this.selectedProcedures.forEach(procedure => { procedures += procedure.id + ',' });
                
                // The ForEach month doesn't need a filter on phase, since it filters on calculated phase
                if (this.xaxis.id != this.$root.ChartSettings.ForEachMonth)
                    if (phases != "") query += 'phases=' + phases.slice(0, -1) + "&";
                
                if (buyers != "") query += 'buyers=' + buyers.slice(0, -1) + "&";
                if (procedures != "") query += 'procedures=' + procedures.slice(0, -1) + "&";

                this.$root.updateChart(this, { 
                    xaxis: this.xaxis.id, 
                    yaxis: this.yaxis.id, 
                    group: this.grouping.id, 
                    chart: 'area',
                    count: this.nmrmonths 
                }, query).then(() => {

                    // When displaying ForEachMonth, we filter on calculated phases, otherwise
                    // filter on the phases as set in the database.
                    if (this.xaxis.id == this.$root.ChartSettings.ForEachMonth)
                        this.allphases = this.allcalculatedphases;
                    else
                        this.allphases = this.allrealphases;
                });
            },
            reset() {
                this.onlyActive = true;
                this.xaxis = this.xaxisOptions[0];
                this.yaxis = this.yaxisOptions[0];
                this.grouping = this.groupOptions[0];
                this.selectedPhases = [];
                this.selectedBuyers = [];
                this.selectedProcedures = [];
                this.update();
            }
        },
    }
</script>
