
<template>
    <div class="card">
        <div class="card-body">
            <div class="float-end mt-n1">
                <div class="btn-group mb-2 mr-2">
                    <button 
                        type="button"
                        @click="onlyActive ^= true; update()"
                        :class="{ 'btn-light': !onlyActive }"
                        class="btn btn-xs btn-secondary">Actieve Trajecten</button>
                </div>

                <div class="btn-group mb-2">
                    <button 
                        type="button" 
                        @click="nmrmonths=-12; update()" 
                        :class="{ 'btn-light': (nmrmonths != -12) }" 
                        class="m-auto btn btn-xs btn-secondary"> < 12</button>
                    <button 
                        type="button" 
                        @click="nmrmonths=-6; update()" 
                        :class="{ 'btn-light': (nmrmonths != -6) }" 
                        class="m-auto btn btn-xs btn-secondary"> 6</button>
                    <div style="width: 1px; background: #ddd;"></div>
                    <button 
                        type="button" 
                        @click="nmrmonths=6; update()" 
                        :class="{ 'btn-light': (nmrmonths != 6) }" 
                        class="m-auto btn btn-xs btn-secondary">6</button>
                    <button 
                        type="button" 
                        @click="nmrmonths=12; update()" 
                        :class="{ 'btn-light': (nmrmonths != 12) }" 
                        class="m-auto btn btn-xs btn-secondary">12 ></button>
                </div>
                <div class="btn-group mb-2 mr-2">
                    <div class="pl-1 m-auto">Maanden</div>
                </div>
            </div>

            <h4 class="header-title mb-3 m-auto">Trajecten</h4>

            <div dir="ltr">
                <div class="row">
                    <div class="col-12">
                        <apexchart class="apex-charts" :type="type" :options="chartOptions" :series="series"></apexchart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return { 
                type: "line",
                
                chartOptions: { 
                    colors: this.$root.Colors,
                    xaxis: { 
                        categories: [], 
                        labels: { trim: true } 
                    } 
                }, 

                nmrmonths: -12,

                series: [],

                trajectdata: {},

                allbuyers: [],
                allphases: [],
                allprocedures: [],
                
                selectedBuyers: [],
                selectedProcedures: [],
                selectedPhases: [],
                
                yaxisOptions: [
                    { name: "Aantal Trajecten", id: this.$root.ChartSettings.ShowCount },
                    { name: "Aantal Uren Inzet Inkoper", id: this.$root.ChartSettings.ShowBuyerHours },
                ],
                xaxisOptions: [
                    { name: "Per Maand", id: this.$root.ChartSettings.ForEachMonth },
                    { name: "Per Fase", id: this.$root.ChartSettings.ForEachPhase },
                ],
                groupOptions: [
                    { name: "Voor elke Procedure", id: this.$root.ChartSettings.PerProcedure },
                    { name: "Voor elke Inkoper", id: this.$root.ChartSettings.PerBuyer },
                    { name: "Voor elke Fase", id: this.$root.ChartSettings.PerPhase },
                ],

                yaxis: { name: "Aantal Trajecten", id: this.$root.ChartSettings.ShowCount },
                xaxis: { name: "Per Maand", id: this.$root.ChartSettings.ForEachMonth },
                grouping: { name: "Voor elke Procedure", id: this.$root.ChartSettings.PerProcedure },

                onlyActive: false,
            }
        },
        created() {
            this.update();
        },
        methods: {
            update() {
                let phases = "";
                let buyers = "";
                let procedures = "";
                this.selectedPhases.forEach(phase => { phases += phase.id + ',' });
                this.selectedBuyers.forEach(buyer => { buyers += buyer.id + ',' });
                this.selectedProcedures.forEach(procedure => { procedures += procedure.id + ',' });
                
                let query = '';
                if (this.onlyActive) query = 'state=active&';
                //if (phases != "") query += 'phases=' + phases.slice(0, -1) + "&"; // slice to take off last ','
                if (buyers != "") query += 'buyers=' + buyers.slice(0, -1) + "&";
                if (procedures != "") query += 'procedures=' + procedures.slice(0, -1) + "&";

                this.$root.updateChart(this, { 
                    xaxis: this.xaxis.id, 
                    yaxis: this.yaxis.id, 
                    group: this.grouping.id, 
                    chart: 'column',
                    count: this.nmrmonths 
                }, query);
            },
        },

    }
</script>
