
<template>
    <div class="col-2">
        <trajects-table ref="table"></trajects-table>
        <div class="widget-rounded-circle card">
            <div @click="showTrajects()" 
                @mouseover="hover = true" 
                @mouseleave="hover = false" 
                :style="{ 'background' : hover ? '#e1e6ed' : '#fff' }" 
                class="card-body" style="cursor: pointer">
                <div class="row">
                    <div class="col-12">
                        <div class="text-end">
                            <h1 v-html="number"></h1>
                            <p class="text-muted mb-1 text-truncate">{{ this.$props.text }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data: function() {
            return {
                trajects: [],
                number: 0, 
                hover: false,
            }
        },
        props: {
            type: 0,
            text: '',
        },
        created() {
            this.update();
        },
        methods: {
            update() {
                this.$root.updateNumber(this, { type: this.$props.type });
            },
            showTrajects() {
                this.$refs['table'].show(this.trajects);
            }
        },
    }
</script>
