
<template>
    <div class="card">
        <div class="card-body">
            <h4 class="header-title mb-3 m-auto">{{ title }}</h4>
            
            <div dir="ltr">
                <div class="row">
                    <div class="col-12">
                        <apexchart class="apex-charts" :type="type" :options="chartOptions" :series="series"></apexchart>
                   </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function() {
            return { 
                type: "pie", 
                chartOptions: { labels: [ ] },
                series: [ ],
            }
        },
        props: {
            title: String,
            unit: String,
            content: Number,
        },
        created() {
            this.update();
        },
        methods: {
            update() {
                this.$root.updateChart(this, { 
                    group: this.$root.ChartSettings.PerProcedure, 
                    show: this.$props['content'],
                    unit: this.$props['unit']
                });
            },
        },
    }
</script>
