<template>
<div>
    <b-modal ref="modal" title="Trajects" size="xl">
        <b-table striped hover :items="items" :fields="fields"></b-table>
    </b-modal>
</div>
</template>

<script>
    export default {
        data: function() {
            return {
                fields: ['id', 'name'],
                items: [],
            }
        },
        methods: {
            show(trajects) {
                this.items = trajects;
                this.$refs['modal'].show();
            }
        },
    }

</script>
